# Auto detect text files and perform LF normalization
* text=auto

# Force LF line endings for specific file types
*.cs text eol=lf
*.cshtml text eol=lf
*.json text eol=lf
*.js text eol=lf
*.css text eol=lf
*.md text eol=lf
*.txt text eol=lf

